<% title ||= nil %>
<% filter ||= nil %>
<div class="row">
  <div class="col-md-12">
    <h2><%= title || filter.to_s.humanize %></h2>
  </div>
  <% pets.each do |pet| %>
    <div class="col-md-3">
      <%= render 'pets/pet_panel', pet: pet %>
    </div>
  <% end %>
</div>
