nav.navbar.navbar-inverse style="border-radius: 0px"
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed data-target="#main-navbar" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href=root_path
        img src="/favicon.png" style="display: inline-block; height: 25px; padding: 3px"
        = I18n.t('application.short_title')
    #main-navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li: a href=root_path = t('homepage')
        - ['recently_added', 'most_viewed', 'most_commented', 'most_liked', 'recently_adopted', 'random'].each do |filter|
          li: a href=pets_path(filter: filter) = t(filter)
      ul.nav.navbar-nav.navbar-right
        li
          = form_with url: pets_path, method: :get, local: true, class: 'navbar-form navbar-right' do |f|
            = f.text_field :q, placeholder: "search pet name",value: params[:q], class: "form-control"
            button.btn.btn-default type="submit" Search
